<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title> <%= title %> </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link href="/styles.css" rel="stylesheet">
</head>
<body class="h-100">
<nav class="navbar navbar-expand-md custom-navbar bg-dark navbar-dark">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="<%= self.urlFor('pages', 'home')%>">
                    <img src="/assets/griffin.png" width="35" height="35" alt=""> Griffin
                </a>
            </li>
            <% if(self.req.authorized){ %>
                <li class="nav-item"><a class="nav-link" href="#" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <% }else{ %>
                <li class="nav-item"><a class="nav-link" href="<%= self.urlFor('pages', 'imprint')%>"><span class="glyphicon glyphicon-user"></span> Imprint</a></li>
                <li class="nav-item"><a class="nav-link" href="<%= self.urlFor('pages', 'register')%>"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li class="nav-item"><a class="nav-link" href="<%= self.urlFor('pages', 'login')%>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>
<%- body %>


</body>
</html>
<script>

	function logout() {
		var xhr = new XMLHttpRequest();
		xhr.open('post', 'api/logout');
		xhr.setRequestHeader('Content-Type', 'application/json');
		var start = new Date();

		xhr.onload = function () {
			var end = new Date();
			var duration = 820 - (end.getTime() - start.getTime());
			duration = duration < 0 ? 0 : duration;

			setTimeout(function () {
				window.location = '/login';
			}, duration);
		}
		xhr.send('');

	}
</script>