<script>
	if (typeof participantsNumber!==null){
		var participantsNumber = "<%= participantsNumber %>"
	}
	var roomId = "<%= roomId %>"
	var dbId= "<%= dbId%>"
	var stunUrl="<%=stunUrl%>"
	var turnUrl="<%=turnUrl%>"
	var turnCredential="<%=turnCredential%>"
	var turnUsername="<%=turnUsername%>"

</script>
<div class="wrapper">

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">

                <ul class="chat-ul" id="messages">
                    <div class="chatOutput">aaaaaaaaaaaaaaaaaaaTaaaWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWaaaaeagergwgefsdaaaaaaaaaaaaaaaaaaaaaaaaaTaaaaaaaaaaa</div>
                    <div class="chatOutput">aaaaaaaaaaaaaaaaaaaTaaaWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWaaaaeagergwgefsdaaaaaaaaaaaaaaaaaaaaaaaaaTaaaaaaaaaaa</div>
                </ul>
            <form  id="chat" class="chat-div fixed-bottom">
                <label>Send to: </label>
                <select id="participants">
                    <option value=''>Everyone</option>

                </select>
                <input id="message" autocomplete="off"/>
                <button class="room-button" onclick="sendMessageInChat();return false;">Send</button>
            </form>
        </nav>

        <div id="content">
            <nav class="navbar-expand-lg navbar-light bg-light">


                    <button type="button" id="sidebarCollapse"  onclick="toggleChat()">
                        <span class="navbar-toggler-icon"></span>

                    </button>


            </nav>
        </div>

        <p id="serverError"></p>

        <div>

            <br>
            <p id="fullName"></p>
            <div class="buttonRoom">
                <button class="buttons-onload-room room-button" id="audioOn" onclick="addMediaTrack('audio')">Audio on</button>
                <button class="buttons-onload-room room-button" id="audioOff" onclick="removeMediaTrack('audio')">Audio off</button>
                <button class="buttons-onload-room room-button" id="videoOn" onclick="addMediaTrack('video')">Video on</button>
                <button class="buttons-onload-room room-button" id="videoOff" onclick="removeMediaTrack('video')">Video off</button>


                <button class="room-button" id="enterTheRoomStart" onclick="takePermissions()">Give media permissions</button>
                <button class="buttons-onload-room room-button" id="enterTheRoomEnd" onclick="requestForModerator()">Enter the room</button>
                <button class="buttons-onload-room room-button" id="leaveTheRoom" onclick="leaveRoom()">Leave the room</button>

            </div>

            <br>
            <div id="nameDiv" style="display: none">
                <label class="room-label" for="fullName">Full Name: </label>
                <input name="fullName"/><br>

            </div>

            <br>
            <div id="foreignVideoContainer" class="video-container">

            </div>
            <video name="selfStream" class="videoBottomRight" controls="false" playsinline muted autoplay></video>
        </div>
    </div>
    </div>


<script>
    let sidebar=document.getElementById('sidebar');

    function toggleChat(){

    	let chatForm=document.getElementById('chat');
    	if(sidebar.classList.contains('active')){
    		sidebar.classList.remove('active');
		    chatForm.classList.add('fixed-bottom');
        }
    	else{
    		sidebar.classList.add('active');
    		setTimeout(function (){
    			chatForm.classList.remove('fixed-bottom')
		    },90);
        }
    }

</script>
<script src="/script/roomScriptAppender.js"></script>