<script>
	if (typeof participantsNumber !== null) {
		var participantsNumber = "<%= participantsNumber %>"
	}
	var roomId = "<%= roomId %>"
	var dbId = "<%= dbId %>"
	var stunUrl = "<%= stunUrl %>"
	var turnUrl = "<%= turnUrl %>"
	var turnCredential = "<%= turnCredential %>"
	var turnUsername = "<%= turnUsername %>"

</script>
<div class="wrapper">

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">

            <ul class="chat-ul" id="messages"></ul>
            <form id="chat" class="chat-div fixed-bottom">
                <label>Send to: </label>
                <select id="participants">
                    <option value=''>Everyone</option>

                </select>
                <textarea id="message" autocomplete="off"></textarea><br>
                <button class=" btn-block send-message-button btn btn-primary room-button"
                        onclick="sendMessageInChat();return false;">Send
                </button>
            </form>
        </nav>

        <div id="content">
            <nav class="navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" onclick="toggleChat()">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
        </div>


        <div class="container">
            <div class="align-items-center row justify-content-center">

                <button class="buttons-onload-room room-button btn btn-primary" id="audioOn"
                        onclick="addMediaTrack('audio')"><i class="fa fa-volume-up" aria-hidden="true"></i> On
                </button>

                <button class="buttons-onload-room room-button btn btn-primary " id="audioOff"
                        onclick="removeMediaTrack('audio')"><i class="fa fa-volume-up" aria-hidden="true"></i></span>
                    Off
                </button>
                <button class="buttons-onload-room room-button btn btn-primary" id="videoOn"
                        onclick="addMediaTrack('video')"><i class="fa fa-video-camera"></i> On
                </button>
                <button class=" buttons-onload-room room-button btn btn-primary" id="videoOff"
                        onclick="removeMediaTrack('video')"><i class="fa fa-video-camera"></i> Off
                </button>
                <button class="buttons-onload-room room-button btn btn-primary" id="leaveTheRoom" onclick="leaveRoom()">
                    Leave the room
                </button>

            </div>
            <div class="row justify-content-center align-items-center" style="height:90vh">

                <div id="fullname-giveMedia-enterRoom" class="col-5  p-3 mb-5 rounded">
                    <div class="row justify-content-center align-items-center">
                        <p id="serverError"></p>

                        <div class="col-5 enter-full-name-col">
                            <div id="nameDiv">
                                <label class="room-label" for="fullName">Full Name: </label><br>
                                <input name="fullName"/>
                            </div>

                            <p style="display: none" id="fullName"></p>


                            <button class="room-button btn btn-primary" id="enterTheRoomStart"
                                    onclick="takePermissions()">Give media
                                permissions
                            </button>
                            <button class="btn btn-primary btn-custom buttons-onload-room room-button"
                                    id="enterTheRoomEnd"
                                    onclick="requestForModerator()">Enter the room
                            </button>
                        </div>

                    </div>
                </div>
                <div id="foreignVideoContainer"
                     class="row justify-content-center align-items-center  video-container">

                </div>
            </div>

        </div>

    </div>
    <div id="selfStreamDiv">
        <video name="selfStream" class="videoBottomRight" playsinline muted
               autoplay></video>
    </div>
</div>
<script src="/script/roomScriptAppender.js"></script>