<style>
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        background-color:#163F58 ;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 95vh;
    }

    #sidebar.active {
        margin-left: -250px;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }



    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    #sidebar {
        background-color: white;
        color: black;
        transition: all 0.2s;

    }

    /*

    custom
    */
    .chat-div{
        max-width: 250px;
    }
    .videoBottomRight{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1030;
        margin:10px;
    }
    .chatOutput{
        overflow-wrap: break-word;
        margin: 5px;
        font-size: large;
    }
    .chat-ul{
        overflow: auto;
        max-height: 85vh;
    }
    #sidebarCollapse{
        width: 25px
    }
</style>
<script>
	if (typeof participantsNumber!==null){
		var participantsNumber = "<%= participantsNumber %>"
	}
	var roomId = "<%= roomId %>"
	var dbId= "<%= dbId%>"
	var stunUrl="<%=stunUrl%>"
	var turnUrl="<%=turnUrl%>"
	var turnCredential="<%=turnCredential%>"
	var turnUsername="<%=turnUsername%>"

</script>
<div class="wrapper">

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">

                <ul class="chat-ul" id="messages">
                    <div class="chatOutput">aaaaaaaaaaaaaaaaaaaTaaaWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWaaaaeagergwgefsdaaaaaaaaaaaaaaaaaaaaaaaaaTaaaaaaaaaaa</div>
                    <div class="chatOutput">aaaaaaaaaaaaaaaaaaaTaaaWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWaaaaeagergwgefsdaaaaaaaaaaaaaaaaaaaaaaaaaTaaaaaaaaaaa</div>
                </ul>
            <form  id="chat" class="chat-div fixed-bottom">
                <label>Send to: </label>
                <select id="participants">
                    <option value=''>Everyone</option>

                </select>
                <input id="message" autocomplete="off"/>
                <button class="room-button" onclick="sendMessageInChat();return false;">Send</button>
            </form>
        </nav>

        <div id="content">
            <nav class="navbar-expand-lg navbar-light bg-light">


                    <button type="button" id="sidebarCollapse"  onclick="toggleChat()">

                        X
                    </button>


            </nav>
        </div>

        <p id="serverError"></p>

        <div>


            <br>
            <p id="fullName"></p>
            <div class="buttonRoom">
                <button class="buttons-onload-room room-button" id="audioOn" onclick="addMediaTrack('audio')">Audio on</button>
                <button class="buttons-onload-room room-button" id="audioOff" onclick="removeMediaTrack('audio')">Audio off</button>
                <button class="buttons-onload-room room-button" id="videoOn" onclick="addMediaTrack('video')">Video on</button>
                <button class="buttons-onload-room room-button" id="videoOff" onclick="removeMediaTrack('video')">Video off</button>


                <button class="room-button" id="enterTheRoomStart" onclick="takePermissions()">Give media permissions</button>
                <button class="buttons-onload-room room-button" id="enterTheRoomEnd" onclick="requestForModerator()">Enter the room</button>
                <button class="buttons-onload-room room-button" id="leaveTheRoom" onclick="leaveRoom()">Leave the room</button>

            </div>

            <br>
            <div id="nameDiv">
                <label class="room-label" for="fullName">Full Name: </label>
                <input name="fullName"/><br>

            </div>

            <br>
            <div id="foreignVideoContainer" class="video-container">

            </div>
            <video name="selfStream" class="videoBottomRight" controls="false" playsinline muted autoplay></video>
        </div>
    </div>
    </div>


<script>
    let sidebar=document.getElementById('sidebar');

    function toggleChat(){

    	let chatForm=document.getElementById('chat');
    	if(sidebar.classList.contains('active')){
    		sidebar.classList.remove('active');
		    chatForm.classList.add('fixed-bottom');
        }
    	else{
    		sidebar.classList.add('active');
    		setTimeout(function (){
    			chatForm.classList.remove('fixed-bottom')
		    },90);
        }
    }

</script>
<script src="/script/roomScriptAppender.js"></script>